<div class="bg-dark">
  <div class="bg-light">
    <div>Search Bar</div>
    <input matInput placeholder="Pokemon Name" (input)="search($event)" [value]="queryOnRedirect"/>

    <button (click)="previous()">Prev</button>
    <button (click)="next()">Next</button>

    <span> Page {{getCurrentPage()}} / {{getTotalPages()}}</span>

    <mat-grid-list class="pokemon-list" [cols]="currentPokemonPerRow" rowHeight="232px" gutterSize="4">
      <mat-grid-tile *ngFor="let pokemon of pokemonList">
        <app-pokemon [pokemonData]="pokemon"></app-pokemon>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="prev-next-buttons">
    <button (click)="previous()" class="list-button">Prev</button>
    <button (click)="next()" class="list-button">Next</button>
  </div>
</div>
